

/* montanto o cabeçalho */

.cabecalho{
    display: flex;
    background-color:white;
    /* grid-template-columns: 1fr 4fr 1fr; */
    align-items: center;
    justify-content: space-between;
    margin-left: 160px;
    padding-top: 10px;
    /* color:rgb(0, 247, 255); */
    
}

.logo{
    width: 100px;
   
}

.menu{
    display: flex;
    gap: 40px;
    justify-items: end;
    /* color: #091227; */
}

a{
    text-decoration-line: none;
    color: #112250;
}

.botao{
    width: 10px;
    height: 30px;
    margin-right: 160px;
    background-color:#112250;
    color: white;
}




/* Estilizando filtro de busca */

.background{
    display: flex;
    width: 80%;
    height: 520px;
    margin: 50px auto 0 auto;
    border-radius: 15px;
    background-image: url(/img/f4sale_imagem-cabecalho.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: flex-end;
  }

.filter1{
    display: flex;
    flex-direction: column;   
    justify-content: center; 
    background-color: rgb(6, 49, 97);
    height: 470px;
    width: 320px;
    margin: 25px; 
    border-radius: 10px;
    
  }

  .filter1-1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 320px;
    width: 200px;
    margin: 15px;    
    text-align: left;
  }

  .filter1-2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: left;
    margin-left: 15px;
  }

  .campo-form1 {
    height: 70px;
    width: 280px;
    font-size: 16px;  
    margin-bottom: 10px;  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10px;
  }

  .campo-form2 {
    height: 70px;
    width: 130px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10px;
  }

  #titulo-form {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: white;
    height: 70px;
    width: 200px;
  }

  .button-filter{
    background-color: white;
    height: 30px;
    width: 140px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
  }


/* Estilizando imóveis disponíveis */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Quicksand', sans-serif;
  }
  
  main {
    background: rgb(224, 227, 228);
  }
  
  .polaroid {
    background: rgb(238, 243, 248);
    padding: 15px 15px 40px;
    height: 300px;
    border-radius: 5px;
  }
  
  .photo {
    width: 100%;
    height: 190px;
    object-fit: cover;;
  }
  
  .container {
    display: grid;
    padding: 20px;
    margin: auto;
    max-width: 1000px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    justify-content: center;
  }
  
  
  .card {
    margin: 1px;
    border-radius: 5px;
  ;
    box-shadow: 7px 7px 13px 0px rgba(172, 165, 165, 0.22);
    width: 190px;
    height: 190px;
    transition: all 0.3s ease-out;
  }
  
  .card:hover {
    transform: translateY(-5px);
    cursor: pointer;
  }
  
  .card p {
    color: #151616;
    font-size: 16px;
  }
   
  .borda {
    border-left: 3px solid rgb(19, 34, 53);
    border-radius: 10px;
  
  }
  
  img {
    border-radius: 10px;
  }
  
  .icones {
    display: flex;
    justify-content: flex-start;  
    
    
  }
  
  
  .sala {
    width: 25px;
    margin-right: 5%;
    
  }
  .cama {
    width: 25px;
    margin-right: 5%;
  }
  .banheiro {
    width: 25px;
    margin-right: 5%;
  }
  
  h2 {
    color: rgb(53, 64, 68);
  }
  
  

/* Estilizando Vantagens */


  .sectionVantagens{
      display: grid;
      justify-items: center;
      padding-top: 30px;
      border-radius: 10px;
  }
  
  .grid{
      background-image: url(https://cdn.pixabay.com/photo/2016/11/29/04/19/ocean-1867285_960_720.jpg);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: top ;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      justify-items: center;
      width: 100%;
      height: 400px;
      padding: 40px;
  }
  
  .celula-grid{
      background-color: white;
      display: grid;
      justify-items: center;
      width: 80%;
      height:90%;
      text-align: left;
      font-size: 20px;
      color:rgb(5, 42, 110);   
      border-radius: 10px;
      padding: 10px;
}
  

/* ajustando a mais do "passo a passo" para contratar */

h2{
    text-align: center;
}

.passo-a-passo{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-content: center;
    /* justify-items: center; */
    padding-left: 250px;
    padding-right: 250px;
             
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
}

#box1{
    width: 5vw;
    height: 10vh;
    border: 8px inset rgb(74, 116, 172)
}

#box2{
    width: 5vw;
    height: 10vh;
    border: 8px inset rgb(19, 34, 53)
}

#box3{
    width: 5vw;
    height: 10vh;
    border: 8px inset rgb(83, 233, 213)
}

#box4{
    width: 5vw;
    height: 10vh;
    border: 8px inset rgb(74, 116, 172)
}

#box5{
    width: 5vw;
    height: 10vh;
    border: 8px inset rgb(19, 34, 53)
}

#box6{
    width: 5vw;
    height: 10vh;
    border: 8px inset rgb(83, 233, 213)

}


/* Descrição de imóveis com ícones */

/* caixas com imagens do imóvel */

.principal{
    display: grid;
    justify-content: space-between;
    grid-template-columns: 6fr 4fr;
    grid-template-rows: 1fr;
    margin: 100px;
    

}

.adicional{
    display: grid;
    grid-template-rows: 2fr;
}



.foto1{
    display: flex;
    width: 100%;
    height: 100%;
    /* justify-content: center;
    align-items: center; */
    vertical-align: middle;


}

#foto2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* box-shadow: 2px 2px 5px darkgrey;
        */
    }

#foto3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* box-shadow: 2px 2px 5px darkgrey; */
    padding: 20px; 
}

    /* caixa com texto sobre o imóvel*/

.texto{
    padding: 20px;
    margin: 100px;
    background-color: rgb(19,34,53);
    color: white;
}

/* container com ícones de descrição*/

.icone{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 100px;
    text-align: center;
    color: green;
    
}

.img-icone{
    width: 30%;
}

#para-n{
    color: red;
}

#button{
    display: flex;
    justify-content: center;
}
.botao{
    width: 300px;
    height: 50px;
    font-size: 20px;
    background: rgb(92, 191, 236);
    color: black;
    border-radius: 1px;
    align-content: center;
    text-align: center;
    padding: 10px;
    
}



/* página de agendar visita */

header{
    display: flex;
}    

#frase{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1/-1;
}


/* ajustar a mais de agendar visita */

.agendarvisita{
    display: grid;
    justify-content: center;
    margin-left: 80px;
    margin-right: 50px;
   
}


.grupo{
    display: grid;
    color: black;

}


fieldset{
    background-color:rgb(229, 238, 238);
    border: 0;
}

.grupo:before {
    content:" ";
    display: table;

}

.grupo:after {
    content:" ";
    display: table;
    clear: both;
}

.campo{
    margin-bottom: 1em;
}

.campo label{
    margin-top: 0.2em;
    color: black;
    display: block;
}

fieldset.grupo .campo{
    float: left;
    margin-right: 1em;
}

.botao{
    
    font-size: 1.5em;
    background-color: rgb(19, 34, 53);
    border: 1px;
    margin-top: 1em;
    color: white;
    padding: 0.2em 0.6em;
    
    
}


/* footer */


body {
    font-family: 'Quicksand', sans-serif; 
}

.footer-completo {
    display: flex;
    
    
}

section {
    margin: 30px;
    
}

h2 {
    font-size: 18px;
    font-weight: lighter
    
}

footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 350px;
    background-color: rgb(19, 34, 53);
    color: white;
    
}

.endereço-e-redes-sociais {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: rgb(66, 86, 112);
}

.img-instagram {
    position: absolute;
    left: 20px;
    top: 4850px;
    width: 20px;
    margin: 20px;
}

.img-facebook {
    position: absolute;
    left: 50px;
    top: 4850px;
    width: 20px;
    margin: 20px;
}

.img-twitter {
    position: absolute;
    left: 80px;
    top: 4850px;
    width: 20px;
    margin: 20px;
}

.img-yt {
    position: absolute;
    left: 110px;
    top: 4850px;
    width: 20px;
    margin: 20px;  
}

.img-linkedin{
    position: absolute;
    left: 138px;
    top: 4850px;
    width: 20px;
    margin: 20px;
}

.logo-footer {
    position: absolute; 
    left: 790px;
    top: 4680px;
    width: 200px;
}


