
body {
    font-family: 'Quicksand', sans-serif; 
}

.footer-completo {
    display: flex;
    
    
}

section {
    margin: 30px;
    
}

h2 {
    font-size: 18px;
    font-weight: lighter
    
}

footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 350px;
    background-color: rgb(19, 34, 53);
    color: white;
    
}

.endereço-e-redes-sociais {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: rgb(66, 86, 112);
}

.img-instagram {
    position: absolute;
    left: 20px;
    top: 283px;
    width: 20px;
    margin: 20px;
}

.img-facebook {
    position: absolute;
    left: 50px;
    top: 283px;
    width: 20px;
    margin: 20px;
}

.img-twitter {
    position: absolute;
    left: 80px;
    top: 283px;
    width: 20px;
    margin: 20px;
}

.img-yt {
    position: absolute;
    left: 110px;
    top: 283px;
    width: 20px;
    margin: 20px;  
}

.img-linkedin{
    position: absolute;
    left: 138px;
    top: 283px;
    width: 20px;
    margin: 20px;
}

.logo-footer {
    position: absolute; 
    left: 690px;
    top: 83px;
    width: 200px;
}